extends layouts/manage_layout
block sevenCol
  .ui.tabular.filter.menu
    a.active.item(data-tab='published') Published
    a.item(data-tab='draft') Draft
  .ui.divided.inbox.selection.list.tab.published(data-tab='published')
    each post in posts
      if post.published
        a.item.pageref(id='#{post._id}')
          .left.floated.ui.star.rating
            i.icon
          .right.floated.date #{month[post.date.getMonth()]+ ' ' + post.date.getDate()+ ', '+post.date.getFullYear()}
          .description #{post.title}
  .ui.divided.inbox.selection.list.tab.draft(data-tab='draft')
   each post in posts
      if !post.published
        a.item.pageref(id='#{post._id}')
          .left.floated.ui.star.rating
            i.icon
          .right.floated.date #{month[post.date.getMonth()]+ ' ' + post.date.getDate()+ ', '+post.date.getFullYear()}
          .description #{post.title}
  .ui.divider
  .ui.small.basic.confirm.unsaved.modal
    .header Unsaved Changes
    .content
      .left
        i.save.icon
      .right
        |Are you sure? All unsaved changes will be lost.
    .actions
      .ui.button.negative.teal Cancel
      .ui.button.positive.red Confirm
block nineCol
    .ui.inverted.dimmer
      .ui.large.text.loader Loading
    .ui#editor
      h1#title.ui.header(contentEditable = true) 
      .ui.clearing.divider
      //- a.ui.small.teal.button#save Save
      //- a.ui.small.teal.button#publish Publish
      textarea(data-uk-markdownarea="{mode:'tab'}")

block script
  script(src ='/javascripts/manage_post.js')
